<div class="dashboard">

    <!-- Sidebar -->
    <aside class="sidebar">

        <h2>NANAS</h2>

        <ul>

            <li class="activo">🏠 Dashboard</li>

            <li>👤 Mi Perfil</li>

            <li>📅 Solicitudes</li>

            <li>📆 Disponibilidad</li>

            <li>⭐ Reseñas</li>

            <li>💰 Ganancias</li>

            <li>⚙ Configuración</li>

            <li (click)="cerrarSesion()" style="cursor: pointer;">🚪 Cerrar sesión</li>

        </ul>

    </aside>

    <!-- Contenido -->
    <main class="contenido">

        <h1>
            Hola {{ nombre }} {{ apellido }}
        </h1>

        <p>
            Bienvenida nuevamente a tu panel de cuidadora.
        </p>

        <!-- Tarjetas -->
        <section class="cards">

            <div class="card">

                <h3>⭐ Calificación</h3>

                <span>5.0</span>

            </div>

            <div class="card">

                <h3>📅 Solicitudes</h3>

                <span>0</span>

            </div>

            <div class="card">

                <h3>💰 Ganancias</h3>

                <span>S/. 0.00</span>

            </div>

            <div class="card">

                <h3>🟢 Estado</h3>

                <span>Disponible</span>

            </div>

        </section>

        <!-- Paneles inferiores -->
        <section class="contenedor">

            <!-- Solicitudes -->
            <div class="panel">

                <h2>📅 Solicitudes pendientes</h2>

                
                <p>Total solicitudes: {{ solicitudes.length }}</p>

                <div *ngIf="solicitudes.length == 0">

                    <p>No tienes solicitudes pendientes.</p>

                </div>

                <div *ngFor="let reserva of solicitudes" class="solicitud-card">

                    <p>

                        <strong>Cliente:</strong>
                        {{ reserva.idCliente }}

                    </p>

                    <p>

                        <strong>Inicio:</strong>
                        {{ reserva.fechaInicio }}

                    </p>

                    <p>

                        <strong>Fin:</strong>
                        {{ reserva.fechaFin }}

                    </p>

                    <p>

                        <strong>Monto:</strong>

                        S/. {{ reserva.montoTotal }}

                    </p>

                    <div class="botones">

                        <button class="btn-aceptar" (click)="aceptar(reserva.idReserva!)">

                            Aceptar

                        </button>

                        <button class="btn-rechazar" (click)="rechazar(reserva.idReserva!)">

                            Rechazar

                        </button>

                    </div>

                    <hr>

                </div>

            </div>

            <!-- Perfil -->
            <div class="panel">

                <h2>👤 Mi Perfil</h2>

                <div class="foto">

                    X

                </div>

                <h3>

                    {{ nombre }} {{ apellido }}

                </h3>

                <p>

                    <strong>Correo:</strong><br>

                    {{ correo }}

                </p>

                <p>

                    <strong>Teléfono:</strong><br>

                    {{ telefono }}

                </p>

                <hr>

                <p>

                    <strong>Universidad:</strong> Próximamente

                </p>

                <p>

                    <strong>Carrera:</strong> Próximamente

                </p>

                <p>

                    <strong>Distrito:</strong> Próximamente

                </p>

                <p>

                    <strong>Tarifa:</strong> Próximamente

                </p>

                <button>

                    Editar Perfil

                </button>

            </div>

        </section>

    </main>

</div>