<div class="dashboard">

    <!-- Sidebar -->
    <aside class="sidebar">

        <h2>NANAS</h2>

        <ul>

            <li class="activo"><mat-icon color="primary">home</mat-icon> Dashboard</li>

            <li><mat-icon>person</mat-icon> Mi Perfil</li>

            <li><mat-icon>calendar_today</mat-icon> Solicitudes</li>

            <li><mat-icon>today</mat-icon> Disponibilidad</li>

            <li><mat-icon>star</mat-icon> Reseñas</li>

            <li><mat-icon>money</mat-icon> Ganancias</li>

            <li><mat-icon>settings</mat-icon> Configuración</li>

            <li (click)="cerrarSesion()" style="cursor: pointer;"><mat-icon>logout</mat-icon>  Cerrar sesión</li>

        </ul>

    </aside>

    <!-- Contenido -->
    <main class="contenido">

        <div class="encabezado">

    <div>

        <h1>

            Hola {{ nombre }} {{ apellido }}

        </h1>

        <p>

            Bienvenida nuevamente a tu panel de cuidadora.

        </p>

    </div>

    <app-notificaciones></app-notificaciones>

      </div>

        <!-- Tarjetas -->
        <section class="cards">

            <div class="card">

                <h3><mat-icon>star</mat-icon> Calificación</h3>

                <span>5.0</span>

            </div>

            <div class="card">

                <h3><mat-icon>calendar_today</mat-icon> Solicitudes</h3>

                <span>0</span>

            </div>

            <div class="card">

                <h3><mat-icon>money</mat-icon> Ganancias</h3>

                <span>S/. 0.00</span>

            </div>

            <div class="card">

                <h3><mat-icon>today</mat-icon> Estado</h3>

                <span>Disponible</span>

            </div>

        </section>

        <!-- Paneles inferiores -->
        <section class="contenedor">

            <!-- Solicitudes -->
            <div class="panel">

                <h2><mat-icon>calendar_today</mat-icon> Solicitudes pendientes</h2>


                <p>Total solicitudes: {{ solicitudes.length }}</p>

                <div *ngIf="solicitudes.length == 0">

                    <p>No tienes solicitudes pendientes.</p>

                </div>

                <div *ngFor="let reserva of solicitudes" class="solicitud-card">

                    <p>

                        <strong>Cliente:</strong>
                        {{ reserva.idCliente }}

                    </p>

                    <p>

                        <strong>Inicio:</strong>
                        {{ reserva.fechaInicio }}

                    </p>

                    <p>

                        <strong>Fin:</strong>
                        {{ reserva.fechaFin }}

                    </p>

                    <p>

                        <strong>Monto:</strong>

                        S/. {{ reserva.montoTotal }}

                    </p>

                    <div class="botones">

                        <button class="btn-aceptar" (click)="aceptar(reserva.idReserva!)">

                            Aceptar

                        </button>

                        <button class="btn-rechazar" (click)="rechazar(reserva.idReserva!)">

                            Rechazar

                        </button>

                    </div>

                    <hr>

                </div>

            </div>

            <!-- Servicios Activos -->

<div class="panel">

    <h2>

        <mat-icon>play_circle</mat-icon>

        Servicios activos

    </h2>

    <div *ngIf="serviciosActivos.length==0">

        <p>No tienes servicios listos para iniciar.</p>

    </div>

    <div
        *ngFor="let reserva of serviciosActivos"
        class="solicitud-card">

        <p>

            <strong>Reserva:</strong>

            #{{reserva.idReserva}}

        </p>

        <p>

            <strong>Cliente:</strong>

            {{reserva.idCliente}}

        </p>

        <p>

            <strong>Inicio:</strong>

            {{reserva.fechaInicio}}

        </p>

        <p>

            <strong>Monto:</strong>

            S/. {{reserva.montoTotal}}

        </p>

        <p class="estado-pagado">

            ✅ Pago confirmado

        </p>

        <button
            class="btn-iniciar"
            (click)="iniciarServicio(reserva.idReserva!)">

            <mat-icon>play_arrow</mat-icon>

            Iniciar servicio

        </button>

    </div>

</div>

            <!-- Perfil -->
            <div class="panel">

                <h2><mat-icon>person</mat-icon> Mi Perfil</h2>

                <div class="foto">

                    X

                </div>

                <h3>

                    {{ nombre }} {{ apellido }}

                </h3>

                <p>

                    <strong>Correo:</strong><br>

                    {{ correo }}

                </p>

                <p>

                    <strong>Teléfono:</strong><br>

                    {{ telefono }}

                </p>

                <hr>

                <p>

                    <strong>Universidad:</strong> UTP

                </p>

                <p>

                    <strong>Carrera:</strong> sistemas

                </p>

                <p>

                    <strong>Distrito:</strong> san miguel

                </p>

                <p>

                    <strong>Tarifa:</strong> S/. 40

                </p>

                <button>

                    Editar Perfil

                </button>

            </div>

        </section>

    </main>

</div>
