<header class="navbar">

    <!-- Logo -->

    <div class="logo" routerLink="/">

        <mat-icon>diversity_3</mat-icon>

        <span>Nanas Universitarias</span>

    </div>

    <!-- Menú -->

    <nav class="menu">

        <a routerLink="/">Inicio</a>

        <a routerLink="/login">Buscar cuidadoras</a>

        <a routerLink="/como-funciona">¿Cómo funciona?</a>

        <a routerLink="/nosotros">Nosotros</a>

        <a routerLink="/contacto">Contacto</a>

    </nav>

    <!-- Acciones -->

    <div class="acciones">

        <ng-container *ngIf="nombre==''; else logueado">

            <button
                routerLink="/login"
                class="btn-login">

                Iniciar sesión

            </button>

            <button
                routerLink="/registro"
                class="btn-register">

                Registrarse

            </button>

        </ng-container>

        <ng-template #logueado>

            <div class="usuario">

                <div class="avatar">

                    {{ nombre.charAt(0).toUpperCase() }}

                </div>

                <div>

                    <small>Bienvenido</small>

                    <strong>{{ nombre }}</strong>

                </div>

            </div>

            <button
                class="btn-dashboard"
                (click)="irDashboard()">

                <mat-icon>dashboard</mat-icon>

                Dashboard

            </button>

            <button
                class="btn-login"
                (click)="cerrarSesion()">

                <mat-icon>logout</mat-icon>

            </button>

        </ng-template>

    </div>

</header>
