.dashboard{

    min-height:100vh;

    padding:10px 60px;

    background:linear-gradient(180deg,#f8fbff 0%,#eef3fb 100%);

}

.topbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:45px;

}

.topbar h1{

    font-size:40px;

    font-weight:800;

    color:#1e293b;

    letter-spacing:-1px;
    font-family: 'Californian FB';

}

.topbar p{

    margin-top:10px;

    color:#64748b;

    font-size:18px;

}
.logout{

    background:linear-gradient(135deg,#ef4444,#dc2626);

    color:white;

    border:none;

    padding:15px 30px;

    border-radius:14px;

    cursor:pointer;

    font-weight:700;

    transition:.30s;

    box-shadow:0 10px 25px rgba(239,68,68,.25);

}

.logout:hover{

    transform:translateY(-3px);

    box-shadow:0 15px 35px rgba(239,68,68,.35);

}
mat-icon{

    width:46px;

    height:46px;

    font-size:46px;

    margin-right:14px;

    color:#c76d07;

    filter:drop-shadow(0 3px 6px rgba(250,204,21,.25));

}


.acciones{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

    gap:25px;

    margin-bottom:40px;

}

.card{

    background:white;

    border-radius:22px;

    padding:34px;

    cursor:pointer;

    transition:.35s;

    border:1px solid #edf2f7;

    box-shadow:

        0 12px 35px rgba(15,23,42,.05);

}

.card:hover{

    transform:translateY(-10px);

    box-shadow:

        0 25px 45px rgba(37,99,235,.18);

}

.icono{

    font-size:55px;

    margin-bottom:20px;

}

.card h3{

    margin-top:18px;

    font-size:20px;

    color:#1f2937;

    font-weight:700;

}

.card p{

    margin-top:10px;

    color:#64748b;

    font-size:17px;

}
.paneles{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:30px;

}

.panel{

    background:white;

    border-radius:24px;

    padding:35px;

    border:1px solid #edf2f7;

    box-shadow:

        0 12px 35px rgba(15,23,42,.06);

}

.panel h2{

    margin-bottom:20px;

    color:#344054;

}

.panel ul{

    padding-left:20px;

}

.panel li{

    margin-bottom:10px;

    color:#667085;

}

.btn-detalle{

    margin-top:25px;

    background:linear-gradient(135deg,#4f7cff,#315fe2);

    color:white;

    border:none;

    padding:14px 28px;

    border-radius:12px;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 12px 25px rgba(79,124,255,.30);

}

.btn-detalle:hover{

    transform:translateY(-3px);

    box-shadow:0 18px 35px rgba(79,124,255,.45);

}
